/* Must be a responsive design with decent accessibility */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: darkslategray;
  color: antiquewhite;
}

h1 {
  color: antiquewhite;
  text-align: center;
  margin: 12px;
  padding: 4px;
}

h2 {
  color: antiquewhite;
  margin-left: 12em;
  margin-top: 6em;
}

form {
  /* margin: 64px; */
  margin-left: 8em;
  margin-right: 4em;
  padding: 28px;
}

button {
  margin: 8px;
  padding: 4px;
  margin-left: 12em;
}

fieldset {
  margin: 4px;
  padding: 6px;
  margin-left: 8em;
  margin-right: 8em;
  label {
    margin: 0.25em;
    padding: 0.125em;
  }
  input {
    margin: 0.25em;
    padding: 0.125em;
  }
}

/* .msg-box {
  width: 768px;
  height: 128px;
} */
