/* Must be a responsive design with decent accessibility */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: darkslategray;
  color: antiquewhite;
}

h1 {
  color: antiquewhite;
  text-align: center;
  margin: 12px;
  padding: 4px;
}

h2 {
  color: antiquewhite;
  margin-left: 12em;
  margin-top: 6em;
}

form {
  margin-left: 8em;
  margin-right: 4em;
  padding: 28px;
}

button {
  margin: 8px;
  padding: 4px;
  margin-left: 12em;
}

fieldset {
  margin: 4px;
  padding: 6px;
  margin-left: 8em;
  margin-right: 8em;
  label {
    margin: 0.25em;
    padding: 0.125em;
  }
  input {
    margin: 0.25em;
    padding: 0.125em;
  }
}

#guestbook-content {
  margin-left: 16em;
  margin-right: 16em;
  padding: 12px;
  div {
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 0.5em;
  }
  p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding: 0.125em;
  }
}

/* #author-header-1 {
  margin-top: 3em;
  margin-bottom: 3em;
  padding: 0.5em;
} */

@media only screen and (max-width: 1024px) {
  h2 {
    color: antiquewhite;
    margin-left: 4em;
    margin-top: 4em;
  }

  form {
    margin-left: 1.5em;
    margin-right: 1.5em;
    padding: 12px;
  }

  fieldset {
    margin: 1px;
    padding: 2px;
    margin-left: 2em;
    margin-right: 2em;
    label {
      margin: 0.0625em;
      padding: 0.03125em;
    }
    input {
      margin: 0.0625em;
      padding: 0.03125em;
    }
  }

  #guestbook-content {
    margin-left: 4em;
    margin-right: 4em;
    padding: 4px;
    div {
      margin-top: 2em;
      margin-bottom: 2em;
      padding: 0.5em;
    }
    p {
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      padding: 0.125em;
    }
  }
}

@media only screen and (max-width: 800px) {
  h2 {
    color: antiquewhite;
    margin-left: 3em;
    margin-top: 3em;
  }

  form {
    margin-left: 1em;
    margin-right: 1em;
    padding: 12px;
  }

  fieldset {
    margin: 1px;
    padding: 2px;
    margin-left: 1em;
    margin-right: 1em;
    label {
      margin: 0.0625em;
      padding: 0.03125em;
    }
    input {
      margin: 0.0625em;
      padding: 0.03125em;
    }
  }

  #guestbook-content {
    margin-left: 2em;
    margin-right: 2em;
    padding: 4px;
    div {
      margin-top: 2em;
      margin-bottom: 2em;
      padding: 0.5em;
    }
    p {
      margin-top: 0.25em;
      margin-bottom: 0.25em;
      padding: 0.125em;
    }
  }
}
