/* Must be a responsive design with decent accessibility */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: darkslategray;
  color: antiquewhite;
}

h1 {
  color: antiquewhite;
  text-align: center;
  margin: 12px;
  padding: 4px;
}

h2 {
  color: antiquewhite;
  margin-left: 12em;
  margin-top: 6em;
}

form {
  /* margin: 64px; */
  margin-left: 8em;
  margin-right: 4em;
  padding: 28px;
}

button {
  margin: 8px;
  padding: 4px;
  margin-left: 12em;
}

fieldset {
  margin: 4px;
  padding: 6px;
  margin-left: 8em;
  margin-right: 8em;
  label {
    margin: 0.25em;
    padding: 0.125em;
  }
  input {
    margin: 0.25em;
    padding: 0.125em;
  }
}

#guestbook-content {
  margin-left: 16em;
  margin-right: 16em;
  padding: 12px;
  div {
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 0.5em;
  }
  p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding: 0.125em;
  }
}

/* #author-header-1 {
  margin-top: 3em;
  margin-bottom: 3em;
  padding: 0.5em;
} */
